/* We will style our 'pixel' tags with a font-size of pixels. */
#pixel_h{
    font-size: 20px;
}

#pixel_p{
    font-size: 15px;
}

/* 
    Because we styled the previous tags with a font size expressed in pixels, those sizes are ABSOLUTE
    They will not change as we change the font size of the parent div or the root html element.
*/
#pixel_div{
    font-size: 100px;
}

html{
    font-size: 100px;
}


/* We will style our 'em' tags with a font size of em */
#em_h{
    font-size:1.0em;
}

#em_p{
    font-size:0.5em;
}

/*
    Because we styled the previous tags with a font size expressed in em, those sizes are RELATIVE
    They will change as we change the font size of the parent div only!
    They will not change as we change the font size of the root HTML element.
*/
#em_div{
    font-size: 50px;
}

/* We will style our 'rem' tags with a font size or rem */
#rem_h{
    font-size: 1.0rem;
}

#rem_p{
    font-size:0.5rem;
}

/*
    Because we styled the previous tags with a font size expressed in rem, those sizes are RELATIVE
    They will not change as we change the font size of the parent div.
    They will change as we change the font size of the root HTML element only!
*/
#rem_div{
    font-size:50px;
}

html{
    font-size:12px;
}
